* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Salmond';
    src: url('fonts/Salmond Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Salmond', Arial, sans-serif;
}

/* Rodapé */
.footer {
    background-color: #000;
    color: #008080;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    height: 294px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: auto;
}

/* Container principal */
.footer-container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Mantém alinhado à esquerda */
    align-items: center;
    position: relative;
}

/* Agrupando "Contato" e os contatos */
.contact-group {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

/* Estilizando "Contato" */
.title {
    font-family: 'Salmond', Arial, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 75px;
    color: #1E9B97;
}

/* Div dos contatos */
.contact-info {
    display: flex;
    flex-direction: column;
}

/* Estilizando os textos ao lado */
.contact-info p {
    font-family: 'Salmond', Arial, sans-serif;
    font-weight: 450;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    z-index: 2;
    margin-bottom: 10px;
}

/* Imagem de onda */
.custom-wave {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(340px, 0px) scale(1);
    animation: wave 10s infinite linear;
    opacity: 1;
    transition: opacity 0.3s;
}

@media (max-width: 1300px) {
    .custom-wave {
        opacity: 0.3;
        transition: opacity 0.3s;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .custom-wave {
        transform: none;
        opacity: 0.3;
    }
}
